body {
	height: 100vh;
	background-color: #E5E5E5;

	display: flex;
	flex-direction: column;
}

.page-wrapper {
	flex: 0 1 100%;

	display: flex;
	flex-direction: column;
}

.main-content {
	flex: 0 1 100%;

	display: flex;
	justify-content: space-between;

	padding: 1.2rem;
}

.input-container {
	flex: 0 0 60%;

	display: flex;
	flex-direction: column;
}

.main-ui__wrapper {
	flex: 1 1 100%;

	display: flex;
}

.main-ui {
	flex: 0 1 100%;

	display: flex;
	flex-direction: column;
}

.main-ui__form {
	flex: 1 1 100%;

	display: flex;
	flex-direction: column;
}

.main-ui__form label {
	align-self: flex-start;
}

.main-ui__form textarea {
	flex: 1 1 100%;
}

.output-container {
	flex: 0 1 30%;

	display: flex;
	flex-direction: column;
	justify-content: center;

	background-color: #FFF;
	
	position: relative;
	overflow: auto;
}

.output-container__output {
	position: absolute;
	top: 0;
	left: 0;

	word-break: break-all;
}

.output-container__overlay {
	flex: 0 1 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
}

.overlay__image-wrapper img {
	max-width: 100%;
	max-height: 100%;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (max-width: 900px) {
	.main-content {
		flex-direction: column;
	}

	.overlay__image-wrapper {
		display: none;
	}
}

@media (min-width: 900px) {
	.main-ui__wrapper {
		justify-content: flex-end;
	}

	.main-ui {
		flex: 0 1 80%;
	}
}
